<div class="h2">Products We Offer</div>

<section class="mt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-4" data-aos="slide-right">
                <div class="card shadow-lg" (click)="onclick()">
                    <img src="/assets/images/portrait-handsome-smiling-stylish-young-man-model-dressed-red-checkered-shirt-fashion-man-posing.jpg"
                        alt="check the network">
                    <div class="card-title">
                        <h1>Shirts</h1>
                    </div>
                    <div class="card-desc">
                        <p>This is where all the indian brands are available</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="zoom-in">
                <div class="card shadow-lg" (click)="onclick()">
                    <img src="../../../assets/images/clothes-hang.jpg" alt="check the network">
                    <div class="card-title">
                        <h1>T-shirts</h1>
                    </div>
                    <div class="card-desc">
                        <p>This is where all the unique tshirts are available</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="slide-left">
                <div class="card shadow-lg" (click)="onclick()">
                    <img src="../../../assets/images/top-view-accessoires-travel-with-man-clothing-concept-bow-tie-wallet-wooden-background-watch-sunglasses-bag-hat-shoes-wood-table.jpg"
                        alt="check the network">
                    <div class="card-title">
                        <h1>Accessories</h1>
                    </div>
                    <div class="card-desc">
                        <p>This is where all the latest Accessories are available</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="slide-right">
                <div class="card shadow-lg" (click)="onclick()">
                    <img src="../../../assets/images/pexels-neosiam-603022.jpg"
                        alt="check the network">
                    <div class="card-title">
                        <h1>Jeans</h1>
                    </div>
                    <div class="card-desc">
                        <p>This is where all the men's jeans are available</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="slide-down">
                <div class="card shadow-lg" (click)="onclick()">
                    <img src="../../../assets/images/pexels-web-donut-19090.jpg"
                        alt="check the network">
                    <div class="card-title">
                        <h1>Shoes</h1>
                    </div>
                    <div class="card-desc">
                        <p>This is where all the latest shoes are available</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" data-aos="slide-left">
                <div class="card shadow-lg" (click)="onclick()">
                    <img src="../../../assets/images/young-handsome-guy-sitting-running-track-morning-stadium-he-wears-gray-sport-suit-he-is-listening-music-using-phone.jpg"
                        alt="check the network">
                    <div class="card-title">
                        <h1>Trackpants</h1>
                    </div>
                    <div class="card-desc">
                        <p>This is where all the sports wears and night wears are available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
