<div class="banner">
    <video
        src="../../assets/videos/bannervideo.mp4"
        loop [muted]="true" autoplay></video>
    <div class="banner-content">
        <div class="banner-title">
            <h1>Men's Fashion Store</h1>
            <div class="banner-desc">
                <p style="text-align: left;">The men's fashion store is a stylish haven catering to the modern gentleman. With a sleek and inviting ambiance, it offers a diverse range of clothing and accessories. From classic tailored suits to trendy streetwear, it covers every style preference. High-quality fabrics, impeccable craftsmanship, and attention to detail define their collection.</p>
               <button class="btn btn-outline-info" routerLink="/login" (click)="OrderNow">Get your first Order</button>
            </div>
        </div>
    </div>

</div>